# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
/out/
*.iml
*.iws
*.ipr

# Mac
.DS_Store

# Maven
log/
target/

### Java template
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs
hs_err_pid*

# mpeltonen/sbt-idea plugin
.idea_modules/

# local files generated
/logs