/* use '.' to access inner properties */

/* button styling */
.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: #14b6e4;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
    -fx-font-size: 18px;
    -fx-font-style: italic;
}

.button:hover {
    -fx-cursor: hand;
    -fx-background-color: #00abe2;
}

.button:disabled {
    -fx-background-color: #00abe2 !important;
    -fx-text-fill: white !important;
}

.button.marked-button {
    -fx-border-width: 2px;
    -fx-border-color: white;
    -fx-border-radius: 5px;
}

.button.import-button {
    -fx-background-color: white;
    -fx-text-fill: #14b6e4;
}

.import-button:hover {
    -fx-background-color: #f2fbff !important;
    -fx-text-fill: #00abe2 !important;
}


.container {
    -fx-background-color: #343b4b;
}

#scroll-pane {
    -fx-border-width: 10px;
    -fx-border-color: #324252;
}

/* console styling */
#console:disabled {
    -fx-background-color: white;
    -fx-opacity: 1;
}

/* imagePane styling (holder of imageView with view properties) */
#imagePane {
    -fx-background-color: grey;
}
